<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.hive.missedconnections"
        versionCode = "1" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Missed Connections</name>

    <description>
        A safe way for people to conect with others that they met before but didn't have a chance to make the connection. 
    </description>

    <author href="" email="austintans7@gmail.com">
        Austin Tans
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
</widget>