/* Main Background Is Here */
html{
	min-height: 100%;
}
.ui-page {
	-webkit-backface-visibility:hidden;
	backface-visibility: hidden;
}
body.background { 
	background: #f1fcff;
}

/* Login Modal Starts Here */
	/* modal-link style here is for smaller screens, look
	down in the style sheet for larger screen login styles */
body div a#login-button{
	margin-top: 33%;
	margin-left: 5px;
	text-align: center; 
	width: 95%;
	background-color: #0071bc;
	border: none;
	display: block;
  	-moz-box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
  	-webkit-box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
  	box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
}
body div div.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 20px;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 92%;
	height: auto;
	position: relative;
	margin: 30% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #f1fcff;
	background: -moz-linear-gradient(#f1fcff, #14a3f5);
	background: -webkit-linear-gradient(#f1fcff, #14a3f5);
	background: -o-linear-gradient(#f1fcff, #14a3f5);
}
.close {
	background: #14a3f5;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { 
	background: #00d9ff; 
}
body div.modalDialog div#login-checkbox{
	text-align: center;
	font-size: 14px;
}
body div.modalDialog div#login-checkbox a{
	font-size: 14px;
	display: inline;
}
body div.container div.modalDialog div#login-button{
	text-align: center;
}
body div.container div.modalDialog form button#login-button{
	border-radius: 7px;
	width: 100px;
	height: 40px;
	background-color: #0071bc;;
	color: #ffffff;
}
/* Signup Modal Starts Here */
	/* modal-link style here is for smaller screens, look
	down in the style sheet for larger screen login styles */
body a#signup-button{
	margin-top: 40px;
	margin-left: 5px;
	text-align: center; 
	width: 95%;
	background-color: #0071bc;
	display: block;
	border: none;
	-moz-box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
  	-webkit-box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
  	box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
}
body div div.modalDialog-signup {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 20px;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog-signup:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog-signup > div {
	width: 92%;
	height: auto;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #f1fcff;
	background: -moz-linear-gradient(#f1fcff, #14a3f5);
	background: -webkit-linear-gradient(#f1fcff, #14a3f5);
	background: -o-linear-gradient(#f1fcff, #14a3f5);
}
.close {
	background: #14a3f5;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { 
	background: #00d9ff; 
}
body div.modalDialog-signup div#signup-checkbox{
	text-align: center;
	font-size: 14px;
}
body div.modalDialog-signup div#signup-checkbox a{
	font-size: 14px;
	display: inline;
}
body div.container div.modalDialog-signup div#signup-button{
	text-align: center;
}
body div.container div.modalDialog-signup form button#signup-button{
	margin-top: 10px;
	border-radius: 7px;
	width: 100px;
	height: 40px;
	background-color: #0071bc;
	color: #ffffff;
}

/* Login Page starts Here */
	/* This is the Login Page Header */
header#login-header{
	background-color: #0A60A0;
	width: 100%;
	height: 20px;
	margin-top: 0px;
	bottom: 0;
	left: 0;
	z-index: 100;
	border-bottom: 0px;
	color: #ffffff;
}
body div.container h2#login-page-header{
	color: #ffffff;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-top: 100px;
	text-align: center;
}
/* This is the background color */
body.login-signup-background{
	background-color: #14a3f5;
}

/* This is the login modal styling */
div.container div div#login-email{
	margin-top: 5px;
	margin-bottom: 5px;
}
div.container div div#login-pwd{
	margin-top: 5px;
	margin-bottom: 5px;
}

/* This is the signup modal styling */
div.container div div#signup-first-name{
	margin-top: 5px;
	margin-bottom: 5px;
}
div.container div div#signup-last-name{
	margin-top: 5px;
	margin-bottom: 5px;
}div.container div div#signup-email{
	margin-top: 5px;
	margin-bottom: 5px;
}
div.container div div#signup-pwd{
	margin-top: 5px;
	margin-bottom: 5px;
}
div.container div div#signup-confirm-pwd{
	margin-top: 5px;
	margin-bottom: 5px;
}
/* Need Help Link Starts Here */

div#need-help-link a{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
	color: #ffffff;
}
div#need-help-link a:hover, div#need-help-link a:active, div#need-help-link a:visited { 
	color: white; 
}
div#need-help-link{
	margin-top: 20px;
	color: #ffffff;
	text-decoration: underline;
	text-align: center;
}
/* Footer Starts Here */
	/* This is the footer on the Login Page for smaller screens */
footer#login-footer {
	background: #0A60A0;
	width: 100%;
	height: 30px;
	font-size: 12px;
	position: fixed;;
	bottom: 0;
	left: 0;
	z-index: 100;
	text-align: center;
	color: #ffffff;
}
footer#login-footer div#login-small{
	padding-top: 5px;
}

/* Thread Page Starts Here */
	/* Thread, Messages, Notifications and More Header */
/* This is the background of the small top header and the fixed main nav header */
body#thread-page{
	padding-top: 70px; /* Same as main-header height */
	margin-bottom: 60px;
}
body header nav div#main-header-small {
	background-color: #0A60A0;
	width: 100%;
	height: 20px;
	position: fixed-top;
	margin-top: 0px;
	bottom: 0;
	left: 0;
	border-bottom: 0px;
	color: #ffffff;
	opacity: initial;
	z-index: 1000;
}
header.nav-down {
	background: #14a3f5;
	position: fixed;
	top: 0;
	transition: top 0.8s ease-in-out;
	width: 100%;
	border-bottom: 1px solid #0A60A0;
	opacity: initial;
	z-index: 1000;
}

/* This is the styling for the left-sliding Header */
* {
    font-family: Helvetica;
}
#container-search {
    width: 100%;
    height: 50px;
    background-color: #14a3f5;
    margin: 0px auto;
    position: relative;
    color: white;
    padding: 20px;
}
#drawer {
    position: absolute;
    right: 0;
   	bottom: 0;
    height: 75%;
    overflow-x: hidden; /* Needed for initial hidden state */
}
#drawer > div {
    height: 100%;
    float: left;
}
#drawer-handle span#plus-glyph {
	border: 0;
    width: 20px;
    background-color: none;
	font-size: 1.5em;
	margin-top: 3px;
	margin-left: 0px;
	margin-right: 5px;
	padding-right: 5px;
	z-index: 100;
}
header.nav-down nav#fixed-header div#container-search div#drawer-content {
    width: 290px;
    margin-right: -290px;
    background-color: #14a3f5;
}
#drawer-content > p {
    padding: 10px;
}
/* This is where the "Write A Post" box starts */
div.post-outline{
	height: 80px;
	width: 100%;
	background-color: #ffffff;
	text-align: center;
	border: 1px solid #000000;
	border-radius: 0px;
	-moz-box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
  	-webkit-box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
  	box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
	margin: 0 auto;
    padding: 0;
}
div#post-text-box{
	height: 65%;
	width: 95%;
	border: 1px solid #000000;
	margin: 13px auto;
}
img#post-profile-pic{
	height: auto;
	width: auto;
	max-width: 35px;
	max-height: 35px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 0;
	margin-bottom: 0px;
	float: left;
}

/* This is the text area styling */
div div#post-text-box textarea#text-area{
	width: 80%;
	height: 60px;
	margin: 5px auto;
	background-color: transparent;
	text-decoration: none;
	padding: 0 0.4em 0.4em 0;
	text-align: left !important;
	border: none;
	resize: none;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}

/* This is the Thread Card Styling */
div#thread-card-outline-first{
	height: 140px;
	width: 100%;
	background-color: #ffffff;
	text-align: center;
	border: 1px solid #000000;
	border-radius: 0px;
	margin-top: 40px;
	margin-bottom: 0px;
	-moz-box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
  	-webkit-box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
  	box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
}
div.card-post-outline{
	height: 140px;
	width: 100%;
	background-color: #ffffff;
	text-align: center;
	border: 1px solid #000000;
	border-radius: 0px;
	margin-top: 20px;
	-moz-box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
  	-webkit-box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
  	box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
}
div#thread-cards{
	height: 95px;
	width: 95%;
	border: 1px solid #000000;
	margin: 10px auto;
	
}
img#card-profile-pic{
	height: auto;
	width: auto;
	max-width: 35px;
	max-height: 35px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 0;
	margin-bottom: 0px;
	float: left;
}
/* This is the 'Accept', 'Tag', and 'Report' buttons NOTE This is only the first post in the thread */
div.post-outline div.thread-actions{
	margin: 20px 0px 0px 0px;
	padding: 0;
	width: 100%;
	border: 0;
}

div.post-outline div.thread-actions ul {
	padding: 0;
	margin: 0px;
	list-style: none;
	text-align: center;
}
div.post-outline div.thread-actions ul li {
	display: inline-block;
	margin: 5px 22px;
}
div.post-outline div.thread-actions ul li a#accept-link {
	padding: 5px 0;
	color: #008000;
	font-size: 1em;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.2s ease;
}
div.post-outline div.thread-actions ul li a#tag-link {
	padding: 5px 0;
	color: #0A60A0;
	font-size: 1em;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.2s ease;
}
div.post-outline div.thread-actions ul li a#report-link {
	padding: 5px 0;
	color: #ff0000;
	font-size: 1em;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.2s ease;
}
div.post-outline div.thread-actions ul li a span#accept-glyph{
	color: #008000;
}
div.post-outline div.thread-actions ul li a span#tag-glyph{
	color: #0A60A0;
}
div.post-outline div.thread-actions ul li a span#report-glyph{
	color: #ff0000;
}

/* The rest of the posts start here */
div.card-post-outline div.thread-actions{
	margin: 20px 0px 0px 0px;
	padding: 0;
	width: 100%;
	border: 0;
}

div.card-post-outline div.thread-actions ul {
	padding: 0;
	margin: 0px;
	list-style: none;
	text-align: center;
}
div.card-post-outline div.thread-actions ul li {
	display: inline-block;
	margin: 5px 22px;
}
div.card-post-outline div.thread-actions ul li a#accept-link {
	padding: 5px 0;
	color: #008000;
	font-size: 1em;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.2s ease;
}
div.card-post-outline div.thread-actions ul li a#tag-link {
	padding: 5px 0;
	color: #0A60A0;
	font-size: 1em;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.2s ease;
}
div.card-post-outline div.thread-actions ul li a#report-link {
	padding: 5px 0;
	color: #ff0000;
	font-size: 1em;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.2s ease;
}
div.card-post-outline div.thread-actions ul li a span#accept-glyph{
	color: #008000;
}
div.card-post-outline div.thread-actions ul li a span#tag-glyph{
	color: #0A60A0;
}
div.card-post-outline div.thread-actions ul li a span#report-glyph{
	color: #ff0000;
}
/* This is the Thread Card Text Area Styling */
div div#thread-cards textarea#card-area{
	width: 75%;
	height: 60px;
	margin: 5px auto;
	background-color: transparent;
	text-decoration: none;
	padding: 0 0.4em 0.4em 0;
	text-align: left !important;
	border: none;
	resize: none;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover
{
    outline:0px !important;
    -webkit-appearance:none;
}

/* The next two segments of code remove the underline and
visual of pressing the link -- This is still for all main pages

header div.main-header p#thread-logo a:hover {
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
header div.main-header p#thread-logo a{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}
*/

/* Bottom Navigation Menu */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

* {
  	margin: 0;
  	padding: 0;
  	box-sizing: border-box;
}
/* NOTE Need to decide on an exact font and go through and 
re-edit all fonts on page */
body {
  	font-family: 'Open Sans', sans-serif;
}

/* Navigation */

nav#bottom-navbar {
	width: 100%;
  	height: 45px; 
  	position: fixed-bottom; 
  	background: #14a3f5;
  	border-top: .5 solid #000000;
}

nav#bottom-navbar ul {
	padding-top: 0px;
	padding-bottom: 10px;  
	margin: 0px;
	list-style: none;
	text-align: center;
}
nav#bottom-navbar ul li {
	display: inline-block;
	margin: 0 21px;
}
nav#bottom-navbar ul li a {
	padding: 5px 0;
	color: #fff;
	font-size: .9em;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.2s ease;
}
nav#bottom-navbar ul li a span{
	color: #ffffff;
}
nav#bottom-navbar ul li a span.active{
	color: #0A60A0;
}
nav#bottom-navbar ul li a:hover {
	color: #34495E;
}
nav#bottom-navbar ul li a.active {
	color: #0A60A0;
}

/* The Messages Page Starts Here */
body#messages-page{
	margin-bottom: 60px;
	padding-top: 65px; /* Same as main-header height */
}

/* This is the styling for the divs */
div#messages-page-container{
	margin: 0;
	padding: 0;
}
div#messages-page-container button#messages{
	width: 100%;
	height: 50px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
	display: inline-block;
}
div#messages-page-container button#messages span#messages-glyph{
	margin-right: 5px;
	z-index: 0;
}
div#messages-page-container button#messages span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
	z-index: 0;
}
div#messages-page-container a#messages-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#messages-page-container a#messages-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}
/* This is the styling for all message divs except for the top one */
div#messages-page-container button#more-messages{
	width: 100%;
	height: 50px;
	margin-top: auto;
	margin-left: 0px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
	display: block;
}
div#messages-page-container button#more-messages span#more-messages-glyph{
	margin-right: 5px;
	z-index: 0;
}
div#messages-page-container button#more-messages span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
	z-index: 0;
}
div#messages-page-container a#more-messages-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#messages-page-container a#more-messages-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* The Notifications Page Starts Here */
body#notifications-page{
	margin-bottom: 60px;
	padding-top: 65px; /* Same as main-header height */
}
/* This is the styling for the divs */
div#notifications-page-container{
	margin: 0;
	padding: 0;
}
div#notifications-page-container button#notifications{
	width: 100%;
	height: 50px;
	margin: 0px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
	display: inline-block;
}
div#notifications-page-container button#notifications span#notifications-glyph{
	margin-right: 5px;
}
div#notifications-page-container a#notifications-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#notifications-page-container a#notifications-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}
/* This is the styling for all notifications divs except for the top one */
div#notifications-page-container button#more-notifications{
	width: 100%;
	height: 50px;
	margin-top: auto;
	margin-left: 0px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
	display: block;
}
div#notifications-page-container button#more-notifications span#more-notifications-glyph{
	margin-right: 5px;
}
div#notifications-page-container a#more-notifications-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#notifications-page-container a#more-notifications-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}
/* "More" Page Starts Here */

/* Profile Button Starts Here */
body#more-page{
	margin-bottom: 60px;
	padding-top: 65px; /* Same as main-header height */
}
div#more-page-container button#profile{
	height: 45px;
	margin-top: 30px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page-container button#profile span#profile-glyph{
	margin-right: 5px;
}
div#more-page-container button#profile span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page-container a#profile-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page-container a#profile-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* General Button Starts Here */
div#more-page-container button#general{
	height: 45px;
	margin-top: 25px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page-container button#general span#general-glyph{
	margin-right: 5px;
	color: #606060;
}
div#more-page-container button#general span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page-container a#general-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page-container a#general-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Security Button Starts Here */
div#more-page-container button#security{
	height: 45px;
	margin-top: 5px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page-container button#security span#security-glyph{
	margin-right: 5px;
	color: #606060;
}
div#more-page-container button#security span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page-container a#security-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page-container a#security-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Privacy Button Starts Here */
div#more-page-container button#privacy{
	height: 45px;
	margin-top: 25px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page-container button#privacy span#privacy-glyph{
	margin-right: 5px;
	color: #fec63d;
}
div#more-page-container button#privacy span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page-container a#privacy-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page-container a#privacy-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Location Button Starts Here */
div#more-page-container button#location{
	height: 45px;
	margin-top: 5px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page-container button#location span#location-glyph{
	margin-right: 5px;
	color: #14a3f5;
}
div#more-page-container button#location span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page-container a#location-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page-container a#location-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Blocking Button Starts Here */
div#more-page-container button#blocking{
	height: 45px;
	margin-top: 5px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page-container button#blocking span#blocking-glyph{
	margin-right: 5px;
	color: #ff3823;
}
div#more-page-container button#blocking span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page-container a#blocking-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page-container a#blocking-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Terms Button Starts Here */
div#more-page-container button#terms{
	height: 45px;
	margin-top: 5px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page-container button#terms span#terms-glyph{
	margin-right: 5px;
}
div#more-page-container button#terms span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page-container a#terms-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page-container a#terms-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Log Out Button Starts Here */
div#more-page-container button#logout{
	height: 45px;
	margin-top: 30px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page-container button#logout span#logout-glyph{
	margin-right: 5px;
	color: #ff3823;
}
div#more-page-container button#logout span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page-container a#logout-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page-container a#logout-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Profile Page Starts Here */
body#profile-page{
	margin-bottom: 60px;
	padding-top: 75px; /* Same as main-header height */
}
/* This is the Profile Pic */
div.container-fluid img#profile-pic{
	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 0;
	margin-bottom: 0px;
	float: left;
}

/* This is the First Name form with glyph */
div.container-fluid form#name-container input#first-name{
	width: 100px;
	height: 50px;
	margin-top: 15px;
	margin-bottom: 0px;
	margin-right: 0;
	padding-left: 10px;
	font-size: 24px;
	color: #000000;
	background-color: #f1fcff;
	border: 0;
}
div.container-fluid form#name-container input#first-name span#profile-edit-glyph{
	float: right;
}
div.container-fluid form#name-container input#first-name a:hover {
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div.container-fluid form#name-container input#first-name a{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* This is the Age form with label */
div.container-fluid form.form-horizontal label#age-label{
	width: 10px;
	height: 10px;
	font-size: 16px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	float: left;
}
div.container-fluid form.form-horizontal div.form-group input#age{
	width: 100px;
	height: 20px;
	margin-top: 0px;
	margin-left: 25px;
	margin-right: 0;
	margin-bottom: 0;
	font-size: 14px;
	color: #000000;
	background-color: #f1fcff;
	border: 0;

}

/* This is the Gender form with label */
div.container-fluid form.form-horizontal label#gender-label{
	width: 10px;
	height: 10px;
	font-size: 16px;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	float: left;
}
div.container-fluid form.form-horizontal div.form-group input#gender{
	width: 100px;
	height: 20px;
	margin-top: 5px;
	margin-left: 50px;
	margin-right: 0;
	margin-bottom: 0;
	font-size: 14px;
	color: #000000;
	background-color: #f1fcff;
	border: 0;

}

/* This is the Bio form with label */
div.container-fluid form.form-vertical label#bio-label{
	width: 10px;
	height: 10px;
	font-size: 16px;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	float: left;
}
textarea#bio-text-area{
	width: 80%;
	height: 80px;
	margin: 11px 20px auto;
	background-color: transparent;
	text-decoration: none;
	padding: 0 0.4em 0.4em 0;
	text-align: left !important;
	border: none;
	resize: none;
}
/* !!!! Make sure max height on bio is set, set max character limits
in input fields, lock the bullets, look up how to lock footer
when keyboard is off !!!!*/
div.container-fluid form.form-vertical div.form-group p#bio{
	width: 100%;
	max-height: 30px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	font-size: 14px;
	background-color: #f1fcff;
	border: 0;
	display: inline-block;
}

/* This is the Intesting Facts form with label */
div.container-fluid form.form-vertical label#facts-label{
	width: 100%;
	height: 10px;
	font-size: 16px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	float: left;
}
div.container-fluid form.form-vertical div.form-group input#facts{
	width: 100%;
	height: 20px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	font-size: 14px;
	color: #000000;
	background-color: #f1fcff;
	border: 0;
}

/* This is the Favorite Quotes form with label */
div.container-fluid form.form-vertical label#quote-label{
	width: 100%;
	height: 10px;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	float: left;
}
div.container-fluid form.form-vertical div.form-group input#quote{
	width: 100%;
	height: 20px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	font-size: 14px;
	color: #000000;
	background-color: #f1fcff;
	border: 0;
}

/* This is the Occupation form with label */
div.container-fluid form.form-vertical label#occupation-label{
	width: 100%;
	height: 10px;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	float: left;
}
div.container-fluid form.form-vertical div.form-group input#occupation{
	width: 100%;
	height: 20px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	font-size: 14px;
	color: #000000;
	background-color: #f1fcff;
	border: 0;
}

/* This is the Second Profile Pic */
div.container-fluid img#profile-pic2{
	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 0;
	margin-bottom: 0px;
	float: left;
}

/* This is the Third Profile Pic */
div.container-fluid img#profile-pic3{
	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 15px;
	margin-bottom: 0px;
	float: right;
}


/* This is the advanced top search bar and buttons */
@import url(http://weloveiconfonts.com/api/?family=fontawesome);

a[class*="form-control"]:before,
span[class*="fontawesome-"]:before {
	display: block;
	font-family: 'FontAwesome', sans-serif;
	-webkit-font-smoothing: antialiased;
}
/* ---------- GENERAL ---------- */
header.nav-down div#container-search div div#drawer-content form ul li a {
	text-decoration: none;
	z-index: 100;
}

header.nav-down div#container-search div div#drawer-content form ul button#btn-search {
	-webkit-appearance: none;
	background: #2a80b9;
	transition: top 0.8s ease-in-out;
	cursor: pointer;
	font-family: inherit;
    font-size: 100%;
    line-height: inherit;
    margin-right: 0;
    padding: 0;
    text-transform: none;
	z-index: 100;
}

header.nav-down div#container-search div div#drawer-content form ul button#btn-search::-moz-focus-inner {
	border: 0;
	padding: 0;
	border-radius: 0;
	z-index: 100;
}

header.nav-down div#container-search div div#drawer-content form fieldset {
	border: 0;
	margin: 0;
	padding: 0;
	width: auto;
	border-radius: 0;
	z-index: 100;
}

header.nav-down div#container-search div div#drawer-content form ul li input#search {
	border: 0;
	width: 130px;
	height: 34px;
	font-size: 12px;
	line-height: inherit;
	margin: 0;
	padding-left: 5px;
	display: none;
	border-radius: 0;
	z-index: 100;
}

header.nav-down div#container-search div div#drawer-content form ul li input#search:focus {
	outline: none;
	border-radius: 0;
	z-index: 100;
}

header.nav-down div#container-search div div#drawer-content form ul li input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
	border-radius: 0;
	z-index: 100;
}

header.nav-down div#container-search div div#drawer-content form ul li input[type="search"]::-webkit-search-cancel-button,
header.nav-down div#container-search div div#drawer-content form ul li input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
	border-radius: 0;
	z-index: 100;
}

header.nav-down div#container-search div div#drawer-content form ul li input::-moz-focus-inner {
    border: 0;
    padding: 15px;
	border-radius: 0;
	z-index: 100;
}

header.nav-down div#container-search div div#drawer-content form ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border-radius: 0px;
	z-index: 100;
}

/* ---------- CLASSES ---------- */

header.nav-down div#container-search div div#drawer-content form ul.clearfix { 
	*zoom: 1; 
}
header.nav-down div#container-search div div#drawer-content form ul.clearfix:before, 
header.nav-down div#container-search div div#drawer-content form ul.clearfix:after {
	content: "";
	display: table;
	z-index: 100;
}
header.nav-down div#container-search div div#drawer-content form ul.clearfix:after { 
	clear: both;
	z-index: 100; 
}

header.nav-down div#container-search div div#drawer-content form ul.container-search {
	left: 50%;
	margin: -17px 0 0 -186px;
	position: absolute;
	top: 50%;
	width: 372px;
	z-index: 100;
}
header.nav-down div#container-search div div#drawer-content form ul button span.glyphicon-search{
	margin-top: 5px;
	font-size: 1em;
	padding-top: 2px;
	padding-left: 10px;
	padding-right: 7px;
	padding-bottom: 13px;
	z-index: 100;
}
header.nav-down div#container-search div div#drawer-content form ul li a span.glyphicon-user{
	margin-top: 0px;
	font-size: 1em;
	padding-top: 1px;
	color: #ffffff;
	z-index: 100;
}
header.nav-down div#container-search div div#drawer-content form ul li a span.glyphicon-edit{
	margin-top: 0px;
	font-size: 1em;
	padding-top: 1px;
	color: #ffffff;
	z-index: 100;
}
header.nav-down div#container-search div div#drawer-content form ul li a span.glyphicon-cog{
	margin-top: 0px;
	font-size: 1em;
	padding-top: 1px;
	color: #ffffff;
	z-index: 100;
}
/* ---------- TOOLBAR ---------- */

header.nav-down div#container-search div div#drawer-content form ul.toolbar {
	color: #fff;
	z-index: 100;
}

header.nav-down div#container-search div div#drawer-content form ul.toolbar li {
	float: left;
	z-index: 100;
}

header.nav-down div#container-search div div#drawer-content form ul.toolbar li:first-child a { 
	border-radius: .5em 0 0 .5em; 
	z-index: 100;
}
header.nav-down div#container-search div div#drawer-content form ul.toolbar li a { 
	border-radius: 0 0 0 0; 
	z-index: 100;
}
header.nav-down div#container-search div div#drawer-content form ul.toolbar button { 
	border-radius: 0 .5em .5em 0; 
	z-index: 100;
}
header.nav-down div#container-search div div#drawer-content form ul.toolbar li input{
	border-radius: 0 0 0 0;
	z-index: 100;
}
header.nav-down div#container-search div div#drawer-content form ul.toolbar a,
header.nav-down div#container-search div div#drawer-content form ul.toolbar input[type="search"],
header.nav-down div#container-search div div#drawer-content form ul.toolbar button {
	background: #2a80b9;
	border-top: 0;
	border-left: 0;
	border-right: .1em solid #ffffff;
	border-bottom: 0;
	position: relative;
	z-index: 100;
	-webkit-appearance: none;
}
header.nav-down div#container-search div div#drawer-content form ul.toolbar input[type="search"]:hover,
header.nav-down div#container-search div div#drawer-content form ul.toolbar input[type="search"]:focus{
	background: #2a80b9;
	border-radius: 0;
	z-index: 100;
	-webkit-appearance: none;
}
header.nav-down div#container-search div div#drawer-content form ul.toolbar a:hover,
header.nav-down div#container-search div div#drawer-content form ul.toolbar button:hover{
	background: #0A60A0;
	z-index: 100;
}
header.nav-down div#container-search div div#drawer-content form ul.toolbar input[type="search"] {
	height: 21px;
	width: 177px;
	border-radius: 0;
	z-index: 100;
	-webkit-appearance: none;
}
header.nav-down div#container-search div div#drawer-content form ul.toolbar input[type="search"]::-webkit-input-placeholder { 
	color: #fff; 
	border-radius: 0;
}
header.nav-down div#container-search div div#drawer-content form ul.toolbar input[type="search"]::-moz-placeholder { 
	color: #fff; 
	opacity: 1; 
	border-radius: 0;
}
header.nav-down div#container-search div div#drawer-content form ul.toolbar input[type="search"]:-moz-placeholder { 
	color: #fff; 
	opacity: 1; 
	border-radius: 0;
}
header.nav-down div#container-search div div#drawer-content form ul.toolbar input[type="search"]:-ms-input-placeholder { 
	color: #fff;
	border-radius: 0; 
}
header.nav-down nav#fixed-header div#container-search div#thread-name textarea#users-name{
	background-color: transparent;
	resize: none;
	text-align: center;
	height: 40px;
	width: 100%;
	top: 0;
	left: 0;
	font-size: 20px;
	z-index: 1000;
	margin-top: -17px;
	border: 0;
}

/* These next 4 segments are to set the 'Placeholder' font color to black */
::-webkit-input-placeholder {
   color: #000000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000000;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000000;  
}

:-ms-input-placeholder {  
   color: #000000;  
}

/* This is the start of the 'New Message' screen */
	/* This is for the recent button as well as the name form */
header.nav-down nav#fixed-header div#thread-name div#button-holder{
	border: 0;
	margin-top: -5px;
	margin-left: -15px;
	margin-right: -15px;
}	
header.nav-down nav#fixed-header div#thread-name div#button-holder button#recent-button{
	float: left;
	border: 0;
	background-color: transparent;
	height: 35px;
	margin-top: -5px;
	border-style: none;
	text-decoration: none;
}
header.nav-down nav#fixed-header div#thread-name div#button-holder button#recent-button:active{
	border: none;
	border-style: none;
	outline: none;
}
header.nav-down nav#fixed-header div#thread-name div#button-holder span#chevron-left{
	float: left;
	text-align: right;
	color: #000000;
	z-index: 1;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-left: 0px;
}
header.nav-down nav#fixed-header div#thread-name div#button-holder textarea#users-name{
	border: 0;
	top: 0;
	margin-top: 0px;
	margin-left: 1em;
	width: 100px;
}
/* This is the bottom text area that pulls up the keyboard */
div#message-text-form textarea#message-textarea{
	width: 100%;
	resize: none;
	background-color: transparent;
	position: fixed;
	bottom: 8%;
}
/* This is the background placeholder area */
div.container-fluid div#background-text textarea#background-placeholder-text{
	width: 100%;
	background-color: transparent;
	resize: none;
	border: 0;
	margin: 50% auto;	
}



/* This is a test shrinking div
#stickyheader {
	height: 80px;
	width: 100%; 
	background-color: #ffffff;
	text-align: center; 
	color:#000000;
	z-index: 1000;
	border: 1px solid #000000;
	border-radius: 0px;
	margin: 10px auto;
	-moz-box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
  	-webkit-box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
  	box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
}
#unstickyheader {
	
}

#stickyalias{
	height: 140px;
	width: 100%;
	background-color: #ffffff;
	text-align: center;
	border: 1px solid #000000;
	border-radius: 0px;
	margin-top: 40px;
	margin-bottom: 0px;
	-moz-box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
  	-webkit-box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
  	box-shadow: 4px 4px 3px rgba(0,0,0,0.4);
}
*/
* {
  box-sizing: border-box;
}

.prez {
  padding: 40px 0 80px;
  background: #efefef;
}
.prez .prez--img {
  width: 400px;
  height: 200px;
  background: #ccc;
  margin: auto;
}

main#search {
  padding: 50px;
  text-align: center;
}
main#search div {
  display: inline-block;
  height: 100px;
  width: 200px;
  background: #ccc;
  margin: 5px;
}

.burger {
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
}

.search-field {
  margin-top: -50px;
  padding-top: 16px;
  position: relative;
  width: 100%;
  float: left;
}
.search-field input {
  top: 0;
  display: block;
  margin: auto;
  width: 200px;
  margin: auto;
  padding: 5px;
}

.nav.fix-search .search-field {
  position: fixed;
  margin: 0;
  top: 0;
  background: #ccc;
  padding: 16px;
}
