/* Login Header Starts Here */
body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #f1fcff;
	color: #555;
}
a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #ffffff;
}
header {
	background: #14a3f5;
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	border-bottom: 1px solid #000000;
	z-index: 100;
	text-decoration: none;
}
nav {
	float: right;
	padding: 20px;	
}
a:hover#menu-icon {
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
header nav a#menu-icon{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Header MEDIA QUERY*/
@media only screen and (max-width : 640px) {
header {
position: absolute;
}
#menu-icon {
display:inline-block;
}
}

/* Modal Starts Here */


/* Footer Starts Here */
footer {
	background: #14a3f5;
	width: 100%;
	height: 40px;
	position: fixed;;
	bottom: 0;
	left: 0;
	border-top: 1px solid #000000;
	z-index: 100;
	text-align: center;
	color: #ffffff;
}
footer div{
	padding-top: 5px;
}

/* Footer MEDIA QUERY*/
@media only screen and (min-width : 640px) {
footer{
	height: 70px;
}
}

/* Login Page -- Login Box Starts Here */
.background{
	background-color: #f1fcff;
}
div h2.mc-header{
	margin-top:90px;
	text-align: center;
}
div div#form-body {
	margin-top: 25px;
	padding-top: 30px;
	height: 225px;
	border-radius: 5px;
	background-color: #14a3f5;
}
.email-group {
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
}
.pwd-group {
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 20px;
}
.checkbox {
	text-align: center;
	color: #000000;
}
.form-actions {
	margin: 0;
	background-color: transparent;
	text-align: center;	
}

/* Sign Up Page Starts Here */
#form-signup-body {
	margin-top: 15px;
	height: 300px;
	border-radius: 5px;
	background-color: #14a3f5;
}
div h2.mc-header-signup{
	margin-top:70px;
	text-align: center;
}
.name-group {
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
.email-signup-group {
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
.pwd-signup-group {
	color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}
#terms-link{
	text-decoration: underline;
	color: #000000;
}

/* Thread Page Starts Here */

/* Thread, Messages, Notifications and More Header */
header div.main-header{
	color: #ffffff;
	text-align: center;
	font-size: 24px;
	font-family: Helvetica Neue, Helvetica, Arial;
	padding-top: 10px;
}
header div a{
	color: #ffffff;
	text-decoration: none;
}
header div a.active{
	color: #ffffff;
	background-color: #ffffff;
	text-decoration: none;
}
header div#main-header{
	position: fixed;
}
header div p#thread-logo{
	margin-top: 10px;
	text-align: center;
	padding: 0px;
	margin-left: 25px;
}
header div span{
	float: right;
	margin-top: 5px;
	margin-right: 20px;
}

/* The next two segments of code remove the underline and
visual of pressing the link -- This is still for all main pages */
header div.main-header p#thread-logo a:hover {
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
header div.main-header p#thread-logo a{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* "More" Page Starts Here */

/* Profile Button Starts Here */
div#more-page button#profile{
	margin-top: 85px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page button#profile span#profile-glyph{
	margin-right: 5px;
}
div#more-page button#profile span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page a#profile-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page a#profile-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* General Button Starts Here */
div#more-page button#general{
	margin-top: 15px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page button#general span#general-glyph{
	margin-right: 5px;
	color: #606060;
}
div#more-page button#general span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page a#general-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page a#general-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Security Button Starts Here */
div#more-page button#security{
	margin-top: auto;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page button#security span#security-glyph{
	margin-right: 5px;
	color: #606060;
}
div#more-page button#security span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page a#security-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page a#security-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Privacy Button Starts Here */
div#more-page button#privacy{
	margin-top: 15px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page button#privacy span#privacy-glyph{
	margin-right: 5px;
	color: #fec63d;
}
div#more-page button#privacy span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page a#privacy-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page a#privacy-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Location Button Starts Here */
div#more-page button#location{
	margin-top: auto;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page button#location span#location-glyph{
	margin-right: 5px;
	color: #14a3f5;
}
div#more-page button#location span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page a#location-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page a#location-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Blocking Button Starts Here */
div#more-page button#blocking{
	margin-top: auto;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page button#blocking span#blocking-glyph{
	margin-right: 5px;
	color: #ff3823;
}
div#more-page button#blocking span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page a#blocking-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page a#blocking-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Terms Button Starts Here */
div#more-page button#terms{
	margin-top: auto;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page button#terms span#terms-glyph{
	margin-right: 5px;
}
div#more-page button#terms span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page a#terms-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page a#terms-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Log Out Button Starts Here */
div#more-page button#logout{
	margin-top: 15px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page button#logout span#logout-glyph{
	margin-right: 5px;
	color: #ff3823;
}
div#more-page button#logout span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page a#logout-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page a#logout-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Profile Page Starts Here */
html, body#profile-page{
	padding-bottom: 40px;
}
/* This is the Profile Pic */
div.container-fluid img#profile-pic{
	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
	margin-top: 75px;
	margin-left: 5px;
	margin-right: 0;
	margin-bottom: 0px;
	float: left;
}

/* This is the First Name form */
div.container-fluid form#name-container input#first-name{
	width: 75px;
	height: 30px;
	margin-top: 75px;
	margin-bottom: 0px;
	margin-right: 0;
	padding-left: 10px;
	font-size: 24px;
	background-color: #f1fcff;
	border: 0;
}

/* This is the Age form with label */
div.container-fluid form.form-horizontal label#age-label{
	width: 10px;
	height: 10px;
	font-size: 16px;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	display: inline;
	float: left;
	

}
div.container-fluid form.form-horizontal div.form-group input#age{
	width: 25px;
	height: 20px;
	margin-top: 10px;
	margin-left: 25px;
	margin-right: 0;
	margin-bottom: 0;
	font-size: 14px;
	background-color: #f1fcff;
	border: 0;
	display: inline;

}

/* This is the Gender form with label */
div.container-fluid form.form-horizontal label#gender-label{
	width: 10px;
	height: 10px;
	font-size: 16px;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	display: inline;
	float: left;
}
div.container-fluid form.form-horizontal div.form-group input#gender{
	width: 50px;
	height: 20px;
	margin-top: 10px;
	margin-left: 50px;
	margin-right: 0;
	margin-bottom: 0;
	font-size: 14px;
	background-color: #f1fcff;
	border: 0;
	display: inline;

}

/* This is the Bio form with label */
div.container-fluid form.form-vertical label#bio-label{
	width: 10px;
	height: 10px;
	font-size: 16px;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	display: inline;
	float: left;
}
div.container-fluid form.form-vertical div.form-group p#bio{
	width: 100%;
	height: 20px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	font-size: 14px;
	background-color: #f1fcff;
	border: 0;
	display: inline-block;

}

/* This is the Intesting Facts form with label */
div.container-fluid form.form-vertical label#facts-label{
	width: 100%;
	height: 10px;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	display: inline;
	float: left;
}
div.container-fluid form.form-vertical div.form-group input#facts{
	width: 100%;
	height: 20px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	font-size: 14px;
	background-color: #f1fcff;
	border: 0;
	display: inline;

}

/* This is the Favorite Quotes form with label */
div.container-fluid form.form-vertical label#quote-label{
	width: 100%;
	height: 10px;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	display: inline;
	float: left;
}
div.container-fluid form.form-vertical div.form-group input#quote{
	width: 100%;
	height: 20px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	font-size: 14px;
	background-color: #f1fcff;
	border: 0;
	display: inline;

}

/* This is the Occupation form with label */
div.container-fluid form.form-vertical label#occupation-label{
	width: 100%;
	height: 10px;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	display: inline;
	float: left;
}
div.container-fluid form.form-vertical div.form-group input#occupation{
	width: 100%;
	height: 20px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	font-size: 14px;
	background-color: #f1fcff;
	border: 0;
	display: inline;
}

/* This is the Second Profile Pic */
div.container-fluid img#profile-pic2{
	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 0;
	margin-bottom: 0px;
	float: left;
}

/* This is the Third Profile Pic */
div.container-fluid img#profile-pic3{
	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 15px;
	margin-bottom: 0px;
	float: right;
}

/* Bottom Navigation Menu */
ul#navigation {
    height: 50px;
    list-style: none;
    margin: 0;
    padding-top: 10px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
    border-width: 1px 0;
	border-top: 1px solid #000000;    
    text-align: center;
    font-size: 16px;
    font-family: 'Cham-WebFont', Arial, sans-serif;
    background-color: #14a3f5;
    position: fixed;
	bottom: 0;
    width: 100%;
	float: bottom;
}
div ul#navigation a:hover {
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div ul#navigation a{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}
ul#navigation li {
    display: inline;
    margin-right: .75em;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#navigation li.last {
    margin-right: 0;
}
#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    list-style-type: none;
    display: inline;
}

#navigation li:before {
content: " | ";
color: #ffffff;
}

#navigation li:first-child:before {
content: none;
}
div ul#navigation li a{
	color: #ffffff;
}
div ul#navigation li a.active{
	color: #ffffff;
	text-decoration: none;
}
