/* Main Header Starts Here */
body { 
	font-size: 1.05em;
	line-height: 1.25em;
	font-family: Helvetica Neue, Helvetica, Arial;
	background: #f1fcff;
	color: #555;
}
a {
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: #ffffff;
}
nav.login-nav {
	float: right;
	padding: 20px;	
}
a:hover#menu-icon {
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
header nav a#menu-icon{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}
/* Login Modal Starts Here */
	/* modal-link style here is for smaller screens, look
	down in the style sheet for larger screen login styles */
body div a#login-button{
	margin-top: 33%;
	margin-left: 5px;
	text-align: center; 
	width: 95%;
	background-color: #0071bc;
	display: block;
}
body a#signup-button{
	margin-top: 50px;
	margin-left: 5px;
	text-align: center; 
	width: 95%;
	background-color: #0071bc;
	display: block;
}
body div div.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 20px;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 92%;
	height: auto;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #f1fcff;
	background: -moz-linear-gradient(#f1fcff, #14a3f5);
	background: -webkit-linear-gradient(#f1fcff, #14a3f5);
	background: -o-linear-gradient(#f1fcff, #14a3f5);
}
.close {
	background: #14a3f5;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { 
	background: #00d9ff; 
}
body div.modalDialog div#login-checkbox{
	margin-top: 5px;
	margin-left: 28%;
	padding-top: 10px;
	font-size: 14px;
}
body div.modalDialog div#login-checkbox a{
	font-size: 14px;
	display: inline;
}
body div.container div.modalDialog form button#login-button{
	margin-top: 10px;
	margin-left: 30%;
	border-radius: 7px;
	width: 100px;
	height: 40px;
	background-color: #0071bc;;
	color: #ffffff;
}
/* Signup Modal Starts Here */
	/* modal-link style here is for smaller screens, look
	down in the style sheet for larger screen login styles */
body a#login-button{
	margin-top: 85%;
	margin-left: 5px;
	text-align: center; 
	width: 95%;
	background-color: #0071bc;
	display: block;
}
body a#signup-button{
	margin-top: 40px;
	margin-left: 5px;
	text-align: center; 
	width: 95%;
	background-color: #0071bc;
	display: block;
}
body div div.modalDialog-signup {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 20px;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog-signup:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog-signup > div {
	width: 92%;
	height: auto;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #f1fcff;
	background: -moz-linear-gradient(#f1fcff, #14a3f5);
	background: -webkit-linear-gradient(#f1fcff, #14a3f5);
	background: -o-linear-gradient(#f1fcff, #14a3f5);
}
.close {
	background: #14a3f5;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { 
	background: #00d9ff; 
}
body div.modalDialog-signup div#signup-checkbox{
	margin-top: 10px;
	margin-left: 15px;
	padding-top: 10px;
	font-size: 14px;
	display: inline;
}
body div.modalDialog-signup div#signup-checkbox a{
	font-size: 14px;
	display: inline;
}
body div.container div.modalDialog-signup form button#signup-button{
	margin-top: 10px;
	margin-left: 80px;
	border-radius: 7px;
	width: 100px;
	height: 40px;
	background-color: #0071bc;
	color: #ffffff;
}

/* Login Page starts Here */
	/* This is the Login Page Header */
header#login-header{
	background-color: #0A60A0;
	width: 100%;
	height: 30px;
	margin-top: 0px;
	bottom: 0;
	left: 0;
	z-index: 100;
	border-bottom: 0px;
	color: #ffffff;
}
body div.container h2#login-page-header{
	color: #ffffff;
	margin-bottom: 0px;
	margin-left: 5px;
	margin-top: 100px;
	text-align: center;
}
/* This is the background color */
body.login-signup-background{
	background-color: #14a3f5;
}

/* This is the login modal styling */
div.container div div#login-email{
	margin-top: 5px;
	margin-bottom: 5px;
}
div.container div div#login-pwd{
	margin-top: 5px;
	margin-bottom: 5px;
}

/* This is the signup modal styling */
div.container div div#signup-first-name{
	margin-top: 5px;
	margin-bottom: 5px;
}
div.container div div#signup-last-name{
	margin-top: 5px;
	margin-bottom: 5px;
}div.container div div#signup-email{
	margin-top: 5px;
	margin-bottom: 5px;
}
div.container div div#signup-pwd{
	margin-top: 5px;
	margin-bottom: 5px;
}
div.container div div#signup-confirm-pwd{
	margin-top: 5px;
	margin-bottom: 5px;
}
/* Need Help Link Starts Here */

div#need-help-link a{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
	color: #ffffff;
}
div#need-help-link a:hover, div#need-help-link a:active, div#need-help-link a:visited { 
	color: white; 
}
div#need-help-link{
	margin-top: 20px;
	color: #ffffff;
	text-decoration: underline;
	text-align: center;
}
/* Footer Starts Here */
	/* This is the footer on the Login Page for smaller screens */
footer#login-footer {
	background: #0A60A0;
	width: 100%;
	height: 30px;
	font-size: 12px;
	position: fixed;;
	bottom: 0;
	left: 0;
	z-index: 100;
	text-align: center;
	color: #ffffff;
}
footer#login-footer div#login-small{
	padding-top: 5px;
}

/* Thread Page Starts Here */
	/* Thread, Messages, Notifications and More Header */
body header nav div#main-header-small {
	background-color: #0A60A0;
	width: 100%;
	height: 20px;
	position: fixed-top;
	margin-top: 0px;
	bottom: 0;
	left: 0;
	border-bottom: 0px;
	color: #ffffff;
}
header nav#fixed-header{
	background: #14a3f5;
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	text-decoration: none;
	position: fixed;
}
header div.main-header{
	color: #ffffff;
	text-align: center;
	font-size: 24px;
	font-family: Helvetica Neue, Helvetica, Arial;
	padding-top: 10px;
}
header div a#main-header-link{
	color: #ffffff;
	text-decoration: none;
}
header div a#main-header-link.active{
	color: #ffffff;
	background-color: #ffffff;
	text-decoration: none;
}
header div p#thread-logo{
	margin-top: 10px;
	text-align: center;
	padding: 0px;
	margin-left: 25px;
}
header div span#search-button{
	float: right;
	margin-top: 5px;
	margin-right: 20px;
}

/* The next two segments of code remove the underline and
visual of pressing the link -- This is still for all main pages

header div.main-header p#thread-logo a:hover {
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
header div.main-header p#thread-logo a{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}
*/

/* Bottom Navigation Menu */
ul#navigation {
    height: 60px;
    list-style: none;
    margin: 0;
    padding-top: 20px;
	padding-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
    border-width: 1px 0;
	border-top: 1px solid #000000;    
    text-align: center;
    font-size: 16px;
    font-family: 'Cham-WebFont', Arial, sans-serif;
    background-color: #14a3f5;
    position: fixed;
	bottom: 0;
    width: 100%;
	float: bottom;
}
div ul#navigation a:hover {
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div ul#navigation a{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}
ul#navigation li {
    display: inline;
	font-size: 16px;
    margin-right: .75em;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul#navigation li.last {
    margin-right: 0;
}
#navigation ul
{
    margin: 0;
    padding: 0;
}

#navigation ul li
{
    list-style-type: none;
    display: inline;
}

#navigation li:before {
	content: " | ";
	color: #ffffff;
}

#navigation li:first-child:before {
	content: none;
}
div ul#navigation li a{
	color: #ffffff;
}
div ul#navigation li a.active{
	color: #ffffff;
	text-decoration: none;
}
div ul#navigation li.active{
	
}

/* The Messages Page Starts Here */
html, body#messages-page{
	margin-bottom: 60px;
}
/* This is the styling for the divs */
div#messages-page-container{
	margin: 0;
	padding: 0;
}
div#messages-page-container button#messages{
	width: 100%;
	height: 50px;
	margin-top: 80px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
	display: inline-block;
}
div#messages-page-container button#messages span#messages-glyph{
	margin-right: 5px;
}
div#messages-page-container button#messages span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#messages-page-container a#messages-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#messages-page-container a#messages-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}
/* This is the styling for all message divs except for the top one */
div#messages-page-container button#more-messages{
	width: 100%;
	height: 50px;
	margin-top: auto;
	margin-left: 0px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
	display: block;
}
div#messages-page-container button#more-messages span#more-messages-glyph{
	margin-right: 5px;
}
div#messages-page-container button#more-messages span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#messages-page-container a#more-messages-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#messages-page-container a#more-messages-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* The Notifications Page Starts Here */
html, body#messages-page{
	margin-bottom: 60px;
}
/* This is the styling for the divs */
div#notifications-page-container{
	margin: 0;
	padding: 0;
}
div#notifications-page-container button#notifications{
	width: 100%;
	height: 50px;
	margin-top: 80px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
	display: inline-block;
}
div#notifications-page-container button#notifications span#notifications-glyph{
	margin-right: 5px;
}
div#notifications-page-container a#notifications-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#notifications-page-container a#notifications-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}
/* This is the styling for all notifications divs except for the top one */
div#notifications-page-container button#more-notifications{
	width: 100%;
	height: 50px;
	margin-top: auto;
	margin-left: 0px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
	display: block;
}
div#notifications-page-container button#more-notifications span#more-notifications-glyph{
	margin-right: 5px;
}
div#notifications-page-container a#more-notifications-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#notifications-page-container a#more-notifications-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}
/* "More" Page Starts Here */

/* Profile Button Starts Here */
html, body#more-page{
	padding-bottom: 20px;
}
div#more-page button#profile{
	height: 45px;
	margin-top: 95px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page button#profile span#profile-glyph{
	margin-right: 5px;
}
div#more-page button#profile span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page a#profile-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page a#profile-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* General Button Starts Here */
div#more-page button#general{
	height: 45px;
	margin-top: 25px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page button#general span#general-glyph{
	margin-right: 5px;
	color: #606060;
}
div#more-page button#general span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page a#general-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page a#general-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Security Button Starts Here */
div#more-page button#security{
	height: 45px;
	margin-top: 5px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page button#security span#security-glyph{
	margin-right: 5px;
	color: #606060;
}
div#more-page button#security span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page a#security-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page a#security-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Privacy Button Starts Here */
div#more-page button#privacy{
	height: 45px;
	margin-top: 25px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page button#privacy span#privacy-glyph{
	margin-right: 5px;
	color: #fec63d;
}
div#more-page button#privacy span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page a#privacy-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page a#privacy-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Location Button Starts Here */
div#more-page button#location{
	height: 45px;
	margin-top: 5px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page button#location span#location-glyph{
	margin-right: 5px;
	color: #14a3f5;
}
div#more-page button#location span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page a#location-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page a#location-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Blocking Button Starts Here */
div#more-page button#blocking{
	height: 45px;
	margin-top: 5px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page button#blocking span#blocking-glyph{
	margin-right: 5px;
	color: #ff3823;
}
div#more-page button#blocking span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page a#blocking-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page a#blocking-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Terms Button Starts Here */
div#more-page button#terms{
	height: 45px;
	margin-top: 5px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page button#terms span#terms-glyph{
	margin-right: 5px;
}
div#more-page button#terms span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page a#terms-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page a#terms-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Log Out Button Starts Here */
div#more-page button#logout{
	height: 45px;
	margin-top: 30px;
	text-align: left;
	border: 1px solid #aaaaaa;
	border-radius: 0px;
	outline: 0;
}
div#more-page button#logout span#logout-glyph{
	margin-right: 5px;
	color: #ff3823;
}
div#more-page button#logout span#chevron-glyph{
	float: right;
	text-align: right;
	color: #14a3f5;
}
div#more-page a#logout-link:hover{
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div#more-page a#logout-link{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* Profile Page Starts Here */
html, body#profile-page{
	padding-bottom: 40px;
}
/* This is the Profile Pic */
div.container-fluid img#profile-pic{
	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
	margin-top: 75px;
	margin-left: 5px;
	margin-right: 0;
	margin-bottom: 0px;
	float: left;
}

/* This is the First Name form with glyph */
div.container-fluid form#name-container input#first-name{
	width: 100px;
	height: 50px;
	margin-top: 75px;
	margin-bottom: 0px;
	margin-right: 0;
	padding-left: 10px;
	font-size: 24px;
	color: #000000;
	background-color: #f1fcff;
	border: 0;
}
div.container-fluid form#name-container input#first-name span#profile-edit-glyph{
	float: right;
}
div.container-fluid form#name-container input#first-name a:hover {
	background-color: #14a3f5;
	border-radius: 4px 4px 0 0;
}
div.container-fluid form#name-container input#first-name a{
	margin-top: 10px;
	color: #ffffff;
	text-decoration: none;
}

/* This is the Age form with label */
div.container-fluid form.form-horizontal label#age-label{
	width: 10px;
	height: 10px;
	font-size: 16px;
	margin-top: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	float: left;
}
div.container-fluid form.form-horizontal div.form-group input#age{
	width: 100px;
	height: 20px;
	margin-top: 0px;
	margin-left: 25px;
	margin-right: 0;
	margin-bottom: 0;
	font-size: 14px;
	color: #000000;
	background-color: #f1fcff;
	border: 0;

}

/* This is the Gender form with label */
div.container-fluid form.form-horizontal label#gender-label{
	width: 10px;
	height: 10px;
	font-size: 16px;
	margin-top: 5px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	float: left;
}
div.container-fluid form.form-horizontal div.form-group input#gender{
	width: 100px;
	height: 20px;
	margin-top: 5px;
	margin-left: 50px;
	margin-right: 0;
	margin-bottom: 0;
	font-size: 14px;
	color: #000000;
	background-color: #f1fcff;
	border: 0;

}

/* This is the Bio form with label */
div.container-fluid form.form-vertical label#bio-label{
	width: 10px;
	height: 10px;
	font-size: 16px;
	margin-top: 10px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	display: inline;
	float: left;
}
/* !!!! Make sure max height on bio is set, set max character limits
in input fields, lock the bullets, look up how to lock footer
when keyboard is off !!!!*/
div.container-fluid form.form-vertical div.form-group p#bio{
	width: 100%;
	max-height: 30px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	font-size: 14px;
	background-color: #f1fcff;
	border: 0;
	display: inline-block;
}

/* This is the Intesting Facts form with label */
div.container-fluid form.form-vertical label#facts-label{
	width: 100%;
	height: 10px;
	font-size: 16px;
	margin-top: 50px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	display: inline;
	float: left;
}
div.container-fluid form.form-vertical div.form-group input#facts{
	width: 100%;
	height: 20px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	font-size: 14px;
	color: #000000;
	background-color: #f1fcff;
	border: 0;
	display: inline;
}

/* This is the Favorite Quotes form with label */
div.container-fluid form.form-vertical label#quote-label{
	width: 100%;
	height: 10px;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	display: inline;
	float: left;
}
div.container-fluid form.form-vertical div.form-group input#quote{
	width: 100%;
	height: 20px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	font-size: 14px;
	color: #000000;
	background-color: #f1fcff;
	border: 0;
	display: inline;

}

/* This is the Occupation form with label */
div.container-fluid form.form-vertical label#occupation-label{
	width: 100%;
	height: 10px;
	font-size: 16px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	display: inline;
	float: left;
}
div.container-fluid form.form-vertical div.form-group input#occupation{
	width: 100%;
	height: 20px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 0;
	margin-bottom: 0;
	padding-left: 10px;
	font-size: 14px;
	color: #000000;
	background-color: #f1fcff;
	border: 0;
	display: inline;
}

/* This is the Second Profile Pic */
div.container-fluid img#profile-pic2{
	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
	margin-top: 10px;
	margin-left: 15px;
	margin-right: 0;
	margin-bottom: 0px;
	float: left;
}

/* This is the Third Profile Pic */
div.container-fluid img#profile-pic3{
	height: auto;
	width: auto;
	max-width: 100px;
	max-height: 100px;
	margin-top: 10px;
	margin-left: 0px;
	margin-right: 15px;
	margin-bottom: 0px;
	float: right;
}